
/*	sub Pika for Karla */

@font-face {
  font-family: 'Pika';
  font-weight: 400;

  src: local('Pika'), local('Pike Regular'), local('Pika-Regular'), 
  url('Fonts/Pika/PikaRegular.ttf')  format('ttf'),
  url('Fonts/Pika/PikaRegular.otf')  format('opentype'),
  url('Fonts/Pika/PikaRegular.woff') format('woff');
}

@font-face {
  font-family: 'Pika';
  font-weight: 700;

  src: local('Pika Bold'), local('Pika-Bold'), 
  url('Fonts/Pika/PikaBold.ttf')  format('ttf'),
  url('Fonts/Pika/PikaBold.otf')  format('opentype'),
  url('Fonts/Pika/PikaBold.woff') format('woff');
}

@font-face {
  font-family: 'Pika';
  font-style: italic;
  font-weight: 400;

  src: local('Pika Italic'), local('Pika-Italic'), 
  url('Fonts/Pika/PikaItalic.ttf')  format('ttf'),
  url('Fonts/Pika/PikaItalic.otf')  format('opentype'),
  url('Fonts/Pika/PikaItalic.woff') format('woff');
}

@font-face {
  font-family: 'Pika';
  font-weight: 500;
  src: local('Pika Beck'), local('Pika-Beck'), 
  url('Fonts/Pika/PikaBeck.ttf')  format('ttf'),
  url('Fonts/Pika/PikaBeck.otf')  format('opentype'),
  url('Fonts/Pika/PikaBeck.woff') format('woff');
}

/*	sub Kamera for Montserrat	*/

@font-face {
  font-family: 'Kamera';
  font-weight: 100;

  src: local('Kamera Thin'), local('Kamera-Thin'),
  url('Fonts/Kamera/Kamera-Thin.ttf')  format('ttf'),
  url('Fonts/Kamera/Kamera-Thin.woff') format('woff');
}
@font-face {
  font-family: 'Kamera';
  font-weight: 300;

  src: local('Kamera Light'), local('Kamera-Light'),
  url('Fonts/Kamera/Kamera-Light.ttf')  format('ttf'),
  url('Fonts/Kamera/Kamera-Light.woff') format('woff');
}
@font-face {
  font-family: 'Kamera';
  font-weight: 400;

  src: local('Kamera'), local('Kamera Regular'), local('Kamera-Regular'),
  url('Fonts/Kamera/Kamera-Regular.ttf')  format('ttf'),
  url('Fonts/Kamera/Kamera-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Kamera';
  font-weight: 500;

  src: local('Kamera Medium'), local('Kamera-Medium'),
  url('Fonts/Kamera/Kamera-Medium.ttf')  format('ttf'),
  url('Fonts/Kamera/Kamera-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Kamera';
  font-weight: 700;

  src: local('Kamera Bold'), local('Kamera-Bold'),
  url('Fonts/Kamera/Kamera-Bold.ttf')  format('ttf'),
  url('Fonts/Kamera/Kamera-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Kamera';
  font-weight: 900;

  src: local('Kamera Black'), local('Kamera-Black'),
  url('Fonts/Kamera/Kamera-Black.ttf')  format('ttf'),
  url('Fonts/Kamera/Kamera-Black.woff') format('woff');
}
